html {
  font-family: "VT323", monospace;
  font-weight: bold;
  background: #000000;
  color: white;

  a {
    text-decoration: underline;
    color: FF6600;
  }

  body {
    margin: 0;
  }
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.ascii {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-banner {
  position: relative;
  display: flex;
  align-items: center;
  background: #ff6600;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  z-index: -1;
  color: white;
}

.ascii {
  font-size: 1mm;
  margin-top: -0.2rem;
  margin-left: -2rem;
  flex: 0 0 auto;
}

.banner-header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  pointer-events: none;
}

.text {
  margin-top: 10rem;
  text-align: center;
  font-size: larger;

  p {
    margin: 3rem;
  }
}

.policy {
  font-size: 15;
  text-align: left;
  bottom: 20;
  left: 20;
  position: fixed;
}

// @media only screen and (max-width: 600px) {
//   .mypage {
//     text-align: center;

//     .ascii {
//       font-size: 10;
//       margin-left: -150;
//     }

//     .policy {
//       margin-top: 140;
//     }
//   }
// }
